@import "../src/components/BingoPanel/BingoPanel.css";
@import "../src/components/Modal/Modal.css";
@import "../src/components/Tile/Tile.css";
@import "../src/components/TileRow/TileRow.css";

.app {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  z-index: -2;
  background-image: url(./Fixtures/background.svg) ;
}